{% extends 'Web/content.html.twig' %}


{% block content %}

<div class="col-md-2"></div>
<div class="col-md-8">

    <div class="jumbotron">
        <h1 class="display-4">Main Page</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('app_login') }}" role="button">Login</a>
        </p>
    </div>

</div>
<div class="col-md-2"></div>
{% endblock %}