{% extends 'Web/content.html.twig' %}


{% block content %}

<div class="col-md-2"></div>
<div class="col-md-8 mt-5">

{% if post %}
    <h4>Look for an email from us with instructions on resetting your password.</h4>
{% else %}
<form method="post">
    <h1 class="h3 mb-3 font-weight-normal">Enter your email address to receive a one-time link</h1>
    <label for="emailAddress">Email Address</label>
    <input type="email" value="" name="email" id="emailAddress" class="form-control" required autofocus>
    
    <button class="btn btn-lg btn-primary mt-2" type="submit">
        Reset Password
    </button>
</form>
{% endif %}
</div>
<div class="col-md-2"></div>
{% endblock %}
