{% extends 'Web/content.html.twig' %}


{% block content %}

<div class="col-md-2"></div>
<div class="col-md-8 mt-2">

    <form method="post">
        <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
        
        <label for="inputEmail">Email</label>
        <input type="email" value="" name="email" id="inputEmail" class="form-control" required autofocus>
    
        <label for="inputPassword">Password</label>
        <input type="password" name="pass1" id="inputPassword" class="form-control" required>

        <label for="inputPassword">Password Again</label>
        <input type="password" name="pass2" id="inputPassword" class="form-control" required>

        <button class="btn btn-sm mt-2 btn-primary" type="submit">
            Submit
        </button>
    </form>

</div>
<div class="col-md-2"></div>
{% endblock %}
