
Hi there, {{ name }}

Someone has requested a link to change your password. You can do this through the link below.
Note the link is only good for {{ tokenTTL }} hours.

{{ tokenLink }}

If you didn't request this, please ignore this email.
Your password won't change until you access the link above and create a new one.

~ The {{ site_name }} Team.
