{% extends 'Admin/content.html.twig' %}

{% block content %}

<div class="container">
    <ul>
        <li><a href="{{ path('admin_account_list') }}">List Accounts</a></li>
        <li><a href="{{ path('admin_user_list') }}">List All Users</a></li>
    </ul>
</div>
{% endblock %}
