{% extends 'Account/content.html.twig' %}

{% block title %}API Create{% endblock %}

{% block content %}


<div class="col-md-2"></div>
<div class="col-md-8 mt-5">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    
    <form method="POST">
    <div class="form-row">
        
        <div class="form-group col-md-6">
            <label for="name">API Key Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Descriptive name for your use" required>
            <span class="text-muted small">
                This is a descriptive name for your API key. In the next step, you will receive the actual key to use in your code.
            </span>
        </div>
    </div>
   
</div>
<div class="col-md-2"></div>
{% endblock %}