<!-- Delete API Key Modal -->
<form method="POST" action="{{ path('account_api_delete', {'apiKey':k.id}) }}">
<div class="modal fade" id="deleteKey-{{ k.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteKeyLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteKeyLabel">
                    Delete API Key
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <p>Are you sure?</p>
                            <p>
                                You are about to permenatly delete the key named <br/>
                                <b>"{{ k.name }}"</b>
                            </p>
                            <p>If you delete this api key, you will not be able to recover it.</p>
                        </div>
                    </div>
                    
                    <div class="small text-muted">Alternatively, you could edit this key and mark it as inactive.</div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete Key</button>
                    </div>
                </form>   
            </div>
        </div>
    </div>
</div>
</form>